*{
    color: white;
    
}


html, body {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300; /* default weight */
      font-style: normal;

    }
nav{
    background-color: #001d21;
    overflow: hidden;
    margin-bottom: 30px;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    /* gap: 500px; */
}
nav .list-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
nav .list-nav ul li img{
    width: 8vw;
    transition: transform 0.4s ease;
}
nav .list-nav ul li img:hover{
    transform: scale(1.03);
}


nav .list-nav ul li{
    color: white;
    list-style: none;
    cursor: pointer;
    font-size: 19px;
    transition: transform 0.4s ease;
}
nav .list-nav ul li:hover{
    color: #cdcbff;
    transform: scale(1.03);
    
}   
nav .nav-btn button{
    width: 10vw;
    border-radius: 50px;
    border: 1px solid white;
    height: 7vh;
    color: black;
    cursor: pointer;

}
nav .nav-btn button:hover{
    background: #cdcbff;
   
}

nav .text{
    width: 40vw;
    text-align: center;
    margin: 0px 380px;
}
nav .text h1{
    font-size: 50px;
}
nav .text span{
    font-size: 16px;
    line-height: 30px;
}
nav .hero-img{
    padding: 30px;
    padding-left: 60px;
}
nav .hero-img ul{
    display: flex;
    gap: 20px;
    
}
nav .hero-img ul li{
    list-style: none;
    
    
}
nav .hero-img ul li img{
    width: 26vw;
    border-radius: 20px;
    transition: transform 0.4s ease;
}
nav .hero-img ul li img:hover{
    transform: scale(1.03);
}

/* section1 */
 .section1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    
}
.section-1-left{
    padding: 50px;
}
.section-1-right-h1 h2{
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}
.section-1-left li{
    font-size: 27px;
    color: #001d21;
}
.section-1-right-items{

}
.section-1-right-items ul {
    display: flex;
    
}
.section-1-right-items ul li {
   padding-bottom: 20px;
}
hr{
    padding: 8px;
    border-top: none;
    color: antiquewhite;
}

/* section2 */
.section2{
    overflow: hidden;
}
.team-img-list ul{
    display: flex;
    gap: 30px;
    
}
.team-img-list ul li .image-box {
    position: relative;
    width: fit-content;
}

 .team-img-list ul li  .image-box img {
    display: block;
    height: auto;
    border-radius: 20px;
    width: 30vw;
    transition: transform 0.4s ease;
}
.team-img-list ul li  .image-box img:hover{
    transform: scale(1.03);
}

.team-img-list ul li  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    /* background: rgba(0, 0, 0, 0.6); */
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}


.footer {
  position: relative;
  height: 60vh;
  background: #000;
  display: flex;

  /* CENTERING */
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */

  overflow: hidden;
  padding: 4rem;
}

/* BIG FADED TEXT */
.footer-text {
  font-size: clamp(6rem, 18vw, 22rem);
  font-weight: 700;
  line-height: 0.9;
  margin: 0;

  color:#cdcbff;
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.04);
}

